* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
h1, h2, p {
    color: #fff;
}
@font-face {
    font-family: BlenderPro-Book;
    src: url(fonts/BlenderPro-Book.woff2);
}
@font-face {
    font-family: BlenderPro-Medium;
    src: url(fonts/BlenderPro-Medium.woff2);
}
@font-face {
    font-family: BlenderPro-Bold;
    src: url(fonts/BlenderPro-Bold.woff2);
}
@font-face {
    font-family: BlenderPro-Heavy;
    src: url(fonts/BlenderPro-Heavy.woff2);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(fonts/OpenSans-SemiBold.ttf);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}

.header {
    background-color: #252526;
}
.header-btn {
    color: #fff;
    padding: 13px 50px;
    font-size: 20px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
}
.header-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}


.main {
    background-image: url(img/main-bg.jpg);
    background-position: center;
    background-size: cover;
}
.main-title {
    font-family: BlenderPro-Heavy;
    font-size: 60px;
    color: #fff;
    padding-top: 369px;
    padding-right: 10%;
    padding-left: 40%;
    padding-bottom: 90px;
    cursor: default;
}
.main-items {
    display: flex;
    justify-content: center;
    cursor: default;
    margin: 0 auto;
}
.main-item {
    display: flex;
    align-items: center;
}
.main-item-text {
    color: #fff;
    font-size: 24px;
    font-family: BlenderPro-Bold;
    padding-right: 50px;
}
.main-item-title {
    color: #fff;
    font-size: 69px;
    font-family:OpenSans-SemiBold;
    padding-right: 8px;
}


.order-content {
    cursor: default;
}
.order-img {
    width: 80%;
    height: 80%;
    position: relative;
    left: 22%;
}
.order-subtitle {
    width: 700px;
    height: 249px;
    color: #fff;
    font-size: 40px;
    font-family: BlenderPro-Medium;
    position: relative;
    top: 120px;
    left: -13%;
}
.order-btn {
    color: #fff;
    padding: 18px 75px;
    font-size: 24px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
    position: relative;
    left: -13%;
    top: -440px;
}
.order-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}

.advantage-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.advantage-item {
    text-align: center;
    margin: 30px 100px;
    width: 25%;
}
.advantage-img {
    padding-bottom: 24px;
    width: 90px;
}
.advantage-title {
    font-size: 40px;
    font-family: BlenderPro-Medium;
    padding-bottom: 24px;
}
.advantage-text {
    font-size: 20px;
    font-family: BlenderPro-Book;
}



.services {
    margin: 150px auto;
    display: flex;
}

.service-title {
    font-size: 69px;
    font-family: BlenderPro-Bold;
    margin-top: 150px;
    margin-bottom: -70px;
    position: relative;
    left: 10%;
}
.icon-target {
    position: relative;

}
.service-slider-img {
    width: 504px;
    height: 467px;
    position: relative;
    left: -10%;
    top: 13%;
}

.service-slider-line {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.service-slider-item {
    display: flex;
    position: relative;
}

.service-slider {
    display: flex;
    width: 1216px;
    height: 630px;
    margin-left: 10%;
    background-color: #454545;
}

.service-subtitle {
    font-size: 40px;
    font-family: BlenderPro-Bold;
    padding-bottom: 36px;
}

.service-text {
    font-size: 24px;
    font-family: BlenderPro-Book;
    padding-bottom: 30px;
}
.service-text-2 {
    font-size: 24px;
    font-family: BlenderPro-Book;
    padding-bottom: 100px;
}
.service-content {
    width: 555px;
    margin: auto 300px auto 0;
}
.service-btn {
    color: #fff;
    padding: 18px 75px;
    font-size: 24px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
}
.service-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}
.slider-btn {
    width: 90px;
    height: 90px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    right: 3%;
    z-index: 1000;
    background: transparent;
    cursor: pointer;
    border: none;
}



.our-poligon-title {
    font-size: 69px;
    font-family: BlenderPro-Bold;
    padding-top: 50px;
    padding-bottom: 60px;
    position: relative;
    left: 10%;
}
.our-poligon-text1 {
    width: 620px;
    position: relative;
    left: -5%;
    font-size: 20px;
    font-family: BlenderPro-Book;
}
.our-poligon-text2 {
    width: 560px;
    position: relative;
    left: 25%;
    font-size: 20px;
    font-family: BlenderPro-Book;
}
.our-poligon-img2 {
    width: 805px;
    height: 491px;
    position: relative;
    left: 7%;
}
.our-poligon-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
}
.our-poligon-btn {
    color: #fff;
    padding: 18px 75px;
    font-size: 24px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
    position: relative;
    left: 25%;
    top: 15%;
}
.our-poligon-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}


.feedback {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    position: relative;
    left: -4%;
}
.feedback-slider {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.feedback-slider-items {
    display: flex;
    margin: auto 100px;
}
.feedback-slider-item {
    margin-left: 10px;
    margin-right: 10px;
}
.slider-feedback-btn {
    width: 90px;
    height: 90px;
    margin: auto 0;
    background: transparent;
    cursor: pointer;
    border: none;
    z-index: 999999;
    position: relative;
    left: 97%;
    
 }