* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
h1, h2, p {
    color: #fff;
}
@font-face {
    font-family: BlenderPro-Book;
    src: url(fonts/BlenderPro-Book.woff2);
}
@font-face {
    font-family: BlenderPro-Medium;
    src: url(fonts/BlenderPro-Medium.woff2);
}
@font-face {
    font-family: BlenderPro-Bold;
    src: url(fonts/BlenderPro-Bold.woff2);
}
@font-face {
    font-family: BlenderPro-Heavy;
    src: url(fonts/BlenderPro-Heavy.woff2);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(fonts/OpenSans-SemiBold.ttf);
}

.wrapper {
    min-height: 100%;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}

.header {
    background-color: #252526;
}
.header-btn {
    color: #fff;
    padding: 13px 50px;
    font-size: 20px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
}
.header-btn-mobile {
    display: none;
}
.header-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
@media (max-width: 376px) {
    .header-content img {
        width: 170px;
        height: auto;
    }
    .header-content {
        padding: 20px 5%;
    }
    .header-btn {
        display: none;
    }
    .header-btn-mobile {
        display: flex;
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
    }
}



.main {
    background-image: url(img/main-bg.jpg);
    background-position: center;
    background-size: cover;
}
.main-title {
    font-family: BlenderPro-Heavy;
    font-size: 60px;
    color: #fff;
    padding-top: 359px;
    padding-right: 10%;
    padding-left: 40%;
    padding-bottom: 100px;
    cursor: default;
}
.main-items {
    display: flex;
    justify-content: center;
    cursor: default;
    margin: 0 auto 50px auto;
}
.main-items-mobile {
    display: none;
}
.main-items {
    display: flex;
    justify-content: center;
    cursor: default;
    margin: 0 auto 50px auto;
}
.main-item {
    display: flex;
    align-items: center;
}
.main-item-text {
    color: #fff;
    font-size: 24px;
    font-family: BlenderPro-Bold;
    padding-right: 50px;
}
.main-item-title {
    color: #fff;
    font-size: 69px;
    font-family:OpenSans-SemiBold;
    padding-right: 8px;
}
.img-target-mobile {
    display: none;
}
@media (max-width: 1100px) {
    .main-title {
        font-size: 50px;
    }
    .main-item {
        padding-left: 10px;
    }
    .main-item-text {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .main {
    height: 274px;
    }
    .main-title {
        font-size: 24px;
        padding-top: 110px;
        padding-right: 7px;
        padding-left: 15%;
        padding-bottom: 50px;
    }
    .main-item-title {
        font-size: 29px;
    }
    .main-item-text {
        font-size: 12px;
        padding-right: 10px;
    }
    .main-items-mobile {
        display: flex;
        margin: 0 auto;
        position: relative;

    }
    .main-items {
        display: none;
    }
    .img-target-mobile {
        display: block;
        width: 100px;
        height: 100px;
        margin-left: 16%;
        margin-top: -90px;
    }
}






.order-content {
    cursor: default;
}
.order-img {
    width: 1122px;
    height: 596px;
    margin-left: 30%;
    margin-top: 65px;
}
.order-subtitle {
    width: 700px;
    height: 249px;
    color: #fff;
    font-size: 40px;
    font-family: BlenderPro-Medium;
    position: relative;
    left: 13%;
    top: 200px;
}
.order-btn {
    color: #fff;
    padding: 18px 75px;
    font-size: 24px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
    position: relative;
    left: 13%;
    top: -440px;
}
.order-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}
@media (max-width: 375px) {
    .order-subtitle {
        font-size: 18px;
        width: 320px;
        top: 50px;
        z-index: 88;
        left: 5%;
    }
    .order-btn {
        font-size: 14px;
        padding: 9px 37px;
        top: -123px;
        left: 5%;
        z-index: 555;
    }
    .order-img {
        width: 337px;
        height: 189px;
        margin-top: -147px;
    }
}







.advantage-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.advantage-item {
    text-align: center;
    margin: 30px 100px;
    width: 25%;
}
.advantage-img {
    padding-bottom: 24px;
    width: 90px;
}
.advantage-title {
    font-size: 40px;
    font-family: BlenderPro-Medium;
    padding-bottom: 24px;
    cursor: default;
}
.advantage-text {
    font-size: 20px;
    font-family: BlenderPro-Book;
    cursor: default;
}
@media (max-width: 375px) {
    .advantage-items {
        margin-top: 20px;
        flex-wrap: nowrap;
        margin-top: 10px;
        overflow-x: scroll;
        justify-content: left;
    }
    .advantage-item {
        width: 259px;
        height: 210px;
        background-color: #49494B;
        margin: 20px 20px;
        text-align: left;
        display: block;
        
    }
    .advantage-img {
        width: 40px;
        height: 40px;
        padding-bottom: 0;
        margin: 24px 209px 12px 10px;
    }
    .advantage-title {
        font-size: 18px;
        margin-left: 10px;
        padding-bottom: 10px;
    }
    .advantage-text {
        font-size: 15px;
        margin-left: 10px;
    }
}





.services {
    margin: 150px auto;
    display: flex;
}
.service-target-icon {
    position: relative;
    left: 73%;
    top: -14%;
}
.service-target-icon2 {
    position: relative;
    left: 100%;
    top: -154px;
}

.service-title {
    font-size: 69px;
    font-family: BlenderPro-Bold;
    margin-top: 150px;
    margin-bottom: -70px;
    position: relative;
    left: 10%;
    cursor: default;
}
.service-slider-img {
    width: 504px;
    height: 467px;
    position: relative;
    left: -23%;
    top: 13%;
}

.service-slider-line {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.service-slider-item {
    display: flex;
    position: relative;
}

.service-slider {
    display: flex;
    width: 1216px;
    height: 630px;
    margin-left: 10%;
    background-color: #454545;
}

.service-subtitle {
    font-size: 40px;
    font-family: BlenderPro-Bold;
    padding-bottom: 36px;
    cursor: default;
}

.service-text {
    font-size: 24px;
    font-family: BlenderPro-Book;
    padding-bottom: 30px;
    cursor: default;
}
.service-text-2 {
    font-size: 24px;
    font-family: BlenderPro-Book;
    padding-bottom: 100px;
    cursor: default;
}
.service-content {
    width: 555px;
 
    margin: auto 500px auto -150px;
}
.service-btn {
    color: #fff;
    padding: 18px 75px;
    font-size: 24px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
}
.service-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}
.slider-btn {
    width: 90px;
    height: 90px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    right: 3%;
    z-index: 1000;
    background: transparent;
    cursor: pointer;
    border: none;
}
.img-target-mobile2 {
    display: none;
}

@media (max-width: 1100px) {
    .service-content {
        width: 520px;
        margin: auto 342px auto -230px;
    }
    .service-subtitle {
        font-size: 36px;
    }
    .service-text {
        font-size: 20px;
    }
    .slider-btn {
        right: 28%;
    }
}
@media (max-width: 375px) {
    .service-title {
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 10px;
        left: 5%;
    }
    .service-slider-img {
        display: none;
    }
    .service-subtitle {
        font-size: 20px;
        margin-left: 47%;
       padding-top: 28px;
    }
    .service-text {
        font-size: 18px;
        width: 298px;
        margin-left: 47%;
    }
    .service-text-2 {
        font-size: 18px;
        margin-left: 47%;
        width: 216px;
    }
    .service-btn {
        font-size: 14px;
        margin-left: 47%;
        position: relative;
        padding: 15px 37px;
        top: -92px;
    }
    .service-slider {
        width: 335px;
        height: 455px;
        margin-left: 5%;
        background: none;
    }
    .service-target-icon {
        display: none;
    }
    .slider-btn {
        display: none;
    }
    .service-slider-line {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 680px;
    }
    .service-content {
        margin-right: 47px;
    }
    .services {
        margin: 30px auto;
    }
    .img-target-mobile2 {
        display: flex;
        position: relative;
        left: -27%;
        top: -40px;
        width: 100px;
        height: 100px;
        z-index: 88;
    }
    .service-slider-item {
        margin-right: 10px;
        width: 335px;
        background-color: #454545
    }
    .service-slider-item:last-child {
        margin-right: 0;
    }
}



.our-poligon-title {
    font-size: 69px;
    font-family: BlenderPro-Bold;
    padding-top: 50px;
    padding-bottom: 60px;
    position: relative;
    left: 10%;
    cursor: default;
}
@media (min-width: 376px) {
    .our-poligon-img3 {
        display: none;
    }
}

.our-poligon-text1 {
    width: 620px;
    position: relative;
    left: -5%;
    font-size: 20px;
    font-family: BlenderPro-Book;
    cursor: default;
}
.our-poligon-text2 {
    width: 560px;
    position: relative;
    left: 25%;
    font-size: 20px;
    font-family: BlenderPro-Book;
    cursor: default;
}
.our-poligon-img2 {
    width: 805px;
    height: 491px;
    position: relative;
    left: 7%;
}
.our-poligon-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
}
.our-poligon-btn {
    color: #fff;
    padding: 18px 75px;
    font-size: 24px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
    position: relative;
    left: 25%;
    top: 15%;
}
.our-poligon-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}
.img-target-mobile3 {
    display: none;
}
@media (max-width: 1100px) {
    .our-poligon-text2 {
        z-index: 5;
    }
    .our-poligon-img2 {
        left: 1%;
    }
}
@media (max-width: 375px) {
    .our-poligon-title {
        font-size: 20px;
        left: 5%;
    }
    .our-poligon-img1 {
        display: none;
    }
    .our-poligon-img2 {
        display: none;
    }
    .our-poligon-text2 {
        display: none;
    }
    .our-poligon-img3 {
        width: 375px;
    }
    .our-poligon-content {
        display: block;
        padding-bottom: 0;
    }
    .our-poligon-text1 {
        width: 334px;
        font-size: 18px;
        position: relative;
        top: 30px;
        left: 5%;
    }
    .our-poligon-btn {
        display: none;
    }
    .img-target-mobile3 {
        display: flex;
        position: relative;
        left: 68%;
        top: 0;
        width: 100px;
        height: 100px;
        z-index: 88;
    }
}





.feedback {
    width: 1197px;
    overflow: hidden;
    margin-left: 10%;

}
.feedback-slider {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.feedback-slider-items {
    display: flex;
}
.feedback-slider-item {
    margin-right: 10px;
}
.slider-feedback-btn {
    width: 90px;
    height: 90px;
    background: transparent;
    cursor: pointer;
    border: none;
    z-index: 999999;
    position: relative;
    left: 93%;
    top: 279px;
 }
 .feedback-target-icon {
    position: relative;
    left: 25%;
    top: -79px;
}
.feedback-target-icon2 {
    position: relative;
    left: 80%;
    top: 171px;
    z-index: 99999;
}
.feedback-slider-item {
    width: 394px;
}
@media (max-width: 1100px) {
    .feedback {
        width: 798px;
        overflow: hidden;
        margin-left: 13%;
    }
    .feedback-target-icon2 {
        left: 71%;
        top: 172px;
    }
    .slider-feedback-btn {
        left: 88%;
    }
}

@media (max-width: 375px) {
    .feedback-target-icon2 {
        display: none;
    }
    .feedback-target-icon {
        display: none;
    }
    .feedback-slider {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .feedback-slider-items {
        margin-left: -9px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .feedback-slider-item img {
        height: 308px;
        width: 245px;
        margin-left: 10px;
    }
    .slider-feedback-btn {
        display: none;
    }
    .feedback {
        margin-left: 5%;
        width: 370px;
    }
}







 .articles-title {
    font-size: 69px;
    font-family: BlenderPro-Bold;
    padding-bottom: 70px;
    position: relative;
    left: 10%;
 }
 .articles-item a {
    font-size: 36px;
    color: #fff;
    font-family: BlenderPro-Medium;
    padding-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
 }
 .articles-item a:hover {
    text-decoration: underline solid 1px #fff;
 }
 .articles-item {
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
 }
 .articles-frame {
    max-width: 1200px;
    margin-left: 10%;
 }
 .articles-arrow {
    width: 40px;
    height: 40px;
 }
 .articles {
    margin-top: 60px;
    margin-bottom: 150px;
 }
 @media (max-width: 375px) {
    .articles-title {
        font-size: 20px;
        left: 5%;
        padding-bottom: 30px;
    }
    .articles-item a {
        font-size: 16px;
    }
    .articles-arrow {
        display: none;
    }
    .articles-frame {
        margin-left: 5%;
    }
    .articles {
        margin-top: 0;
        margin-bottom: 20px;
    }
 }


 @media (max-width: 375px) {
    .map {
        height: 240px;
    }
 }


 .footer {
    background-color: #252526;
}
.footer-btn {
    color: #fff;
    padding: 13px 50px;
    margin-bottom: 83px;
    font-size: 20px;
    font-family: BlenderPro-Bold;
    background-color: #84221F;
    border: none;
    cursor: pointer;
}
.footer-btn:hover {
    background-color: #751916;
    transition: 0.3ms;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.footer-btn-mobile {
    display: none;
}
.adress {
    font-size: 24px;
    font-family: BlenderPro-Book;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 13px;
    cursor: default;
}
.footer-item a {
    font-size: 20px;
    font-family: BlenderPro-Book;
    color: #fff;
    text-decoration: none;
}
.privacy {
    font-size: 16px;
    font-family: BlenderPro-Book;
    margin-top: 22px;
    margin-bottom: 30px;
    cursor: default;
}

.footer-icon {
    display: flex;
    position: relative;
    left: 24%;
}
@media (max-width: 375px) {
    .footer-btn {
        display: none;
    }
    .footer-item img {
        width: 157px;
    }
    .adress {
        font-size: 14px;
    }
    .footer-item a {
        font-size: 14px;
    }
    .privacy {
        font-size: 12px;
    }
    .footer-icon img {
        width: 30px;
        height: 30px;
    }
    .footer-btn-mobile {
        width: 40px;
        height: 40px;
        display: flex;
        position: relative;
        left: 100px;
        top: -69px;
        background: transparent;
        border: none;
    }
    .footer-icon {
        top: 36px;
    }
    .footer-content {
        padding: 20px 10% 0 5%;
    }
}







.games-target-icon {
    position: relative;
    left: 72%;
    top: -620px;
}
.games-target-icon2 {
    position: relative;
    left: 0;
}

.games-content {
    width: 1110px;
    position: relative;
    left: 10%;
}
.games-title {
    font-size: 40px;
    font-family: BlenderPro-Medium;
    margin-bottom: 50px;
    margin-top: 80px;
}
.games-list {
    font-size: 24px;
    font-family: BlenderPro-Book;
    color: #fff;

    position: relative;
    left: 2%;
    
}
.games-text p {
    font-size: 24px;
    font-family: BlenderPro-Book;
}
.games-text {
    line-height: 1.4;
    margin-bottom: 80px;
    
}
.video-games {
    position: relative;
    left: 10%;
    margin-bottom: 100px;
}
@media (max-width: 1100px) {
    .games-text {
        margin-right: 20%;
    }
    .footer-icon {
        left: 23%;
    }
}
@media (max-width: 375px) {
    .games-title {
        font-size: 20px;
        margin-top: 28px;
        margin-bottom: 24px;
        width: 330px;
        margin-left: -20px;
    }
    .games-text p {
        font-size: 18px;
        width: 330px;
        margin-left: -20px;
    }
    .games-list {
        font-size: 18px;
        width: 330px;
        margin-left: -20px;
        z-index: 111;
    }
    .video-games iframe {
        width: 330px;
        height: 188px;
        margin: -40px auto -80px auto;
        margin-left: -20px;
    }
    .video-games {
        margin-bottom: 0;
    }
}



.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
.modal:hover {
    transition: all ease 1s;
}
.modal .modal-content {
     background-color: #454545;
     margin: 10% auto;
     padding: 20px;
     width: 50%;
     z-index: 9999;
     border-radius: 4px;
}
.modal .modal-content  {
    color: #84221F;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.close-modal-window:hover {
    color: #751916;
    transition: 0.3ms;
    cursor: pointer;
}

.modal-inner {
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}
.modal-content h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}
.modal-form input {
    width: 700px;
    height: 60px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #4b4b4b;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border: none;
}

.form-fields{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

::placeholder {
    color: #828282;
    font-size: 18px;
    text-align: center;
}

.form-btn {
    display: flex;
    justify-content: center;
}
.form-btn button {
    font-size: 25px;
    color: #fff;
    padding: 10px 0;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #84221F;
    cursor: pointer;
    border: none;
}
.form-btn button:hover {
    background-color: #751916;
    transition: 0.3ms;
}

@media (max-width: 375px) {
    .modal .modal-content {
        width: 90%;
        font-size: 30px;
        padding: 0px 10px;
        height: 410px;
    }
    .form-btn button {
        margin-bottom: 0;
        font-size: 18px;
    }
}
